.button {
    height: 30px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: orange;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}