.content{
    font-size: 100%;
    color: #eab46c;
    display:inline-block;
    margin: 1%;
}

.content-total{
    font-size:1.5em;
    font-weight: bold;
    color: #eab46c;
    align-items: center;
    margin-left: 6%;
    margin-bottom: 3%;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin: 5%;
    font-size: 150%;
    font-weight: bold;
    color:#fa3659;
}

.content-text{
    font-size: 100%;
    color: #eab46c;
    display: flex;
    justify-content: center;
    margin: 1%;

}