.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #371124;
    width: 100%;
    height: 100%;
}

.img-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 10em;
    margin: 1%;
}

.main-navegation{
    margin:1%;
    height: 150%;    
}

.main-link{
    margin: 15px;
    width: 450px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f14110;
    color: #eab46c;
    font-size: 20px;
    display: block;
    text-align: center;
    text-decoration-line:none;
}