.waiter{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #371124;
    height: 100%;
}

.App {
    background-color: #491730;
    padding: 2%;
    display: flex;
    /* margin-right: 10px; */
    height: -webkit-fill-available;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: center;
    justify-content: flex-start;
}
.categoria{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
    justify-content: center;
  
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 45%;
    border-style: groove;
    border-color: #eab46c;
    border-radius: 2%;
    height: fit-content;
    padding: 40px;

   
}
.pedidos{
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    margin-left: 5%;
}

.send{
    margin-left: 5%;
    flex-direction: column;
    align-items: center;
}

button{
    height:10em;
    width: 10em;
    margin:1%;
    font-size: 0.7sem;
    border-radius: 5%;
    background: #eab46c;
    color: #f14110;
    cursor: pointer;
    border: none;
    vertical-align: top;
}

button:hover{
    background: #fa3659;
    color: #eab46c;

}

.options{
    display: flex;
    flex-direction: column;
}
.content-text{
    display: flex;
    justify-content: flex-start;
}

.radio{
    color: #eab46c;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2%;
    margin-left:5%;
    size:large;
}

.radio-options{
    margin: 1%;
    font-size: 1em;
    padding-left: 2px;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

@media only screen and (max-width: 635px) {

    button {
        height:7em;
        width: 7em;
        font-size: 0.7em;
        margin: 2%;
        padding: 1%;
    }
    .App {
        display: block;
        height: inherit;
    }
    .menu {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: flex-start;
    }
    .section {
        width: 100%;
        padding:10px;
    }
    .categoria {
        flex-wrap: nowrap;
        margin: 2%;
    }
    .order{
        flex-wrap: wrap;
    }
    .title{
        font-size:100%;
    }
    .content-total{
        font-size: 1em;
    }
}   
 